<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
<h1>Lavika Kurda</h1>
</div>

<div id="nav">
<%= link_to 'About me', controller: 'staticpages', action: 'myprofile'%><br>
<%= link_to 'Education', controller: 'staticpages', action: 'educate'%><br>
<a href = "staticpages/2048.html" class = "link">Games</a><br>
<ul>
	<li><%= link_to '2048', controller: 'staticpages', action: '2048'%></li>
	<li><%= link_to '2548', controller: 'staticpages', action: '2548'%></li>
	<li><a href = "" class = "link">Color Flood</a></li>
	</ul>
<%= link_to 'Contact Us', controller: 'messages'%> <br>

<%= link_to 'Blogs', "#{Rails.env.development? ? 'http://localhost:3010/articles' : '/articles'}" %>
</div>

<div id = "parent">
<%= yield %>
</div>
<div id = "footer">
	</div>
</body>
</html>
